.experiance {
  background-color: #ffffff;
  padding: 50px 0;
  color: #000000;
}

.head {
  font-family: 'Manrope', sans-serif;
  font-weight: 700;
  font-size: 32px;
  margin-bottom: 35px;
  color: #1c2e6a;
  text-transform: uppercase;
}

.inner {
  display: flex;
  justify-content: space-between;
}

.text {
  font-family: 'Inder', sans-serif;
  font-size: 16px;
}
.text:last-child {
  margin-bottom: 30px;
}

.post {
  font-family: 'Manrope', sans-serif;
  color: #1c2e6a;
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 35px;
}

@media (max-width: 362px ) {
  .experiance {
    padding: 0 0;
  }
  .head {
    font-size: 20px;
    margin-bottom: 15px;
  }
  .text {
    font-size: 14px;
  }

  .hide{
    height: 75px;
    overflow: hidden;
  }

  .list ~ * {
    margin-left: 40px;
  }
}