
.container {

  /* Enable horizontal scrolling */
  overflow-x: auto; 
  
  /* Hide scrollbar for IE, Edge and Firefox */
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

/* Hide scrollbar for Chrome, Safari and Opera */
.container::-webkit-scrollbar {
  display: none;
}
.showAllContainer{
    font-size: 24px;
    display: flex;
    align-items: center;
    margin: 40px 0;
}
.showAll{
  width: 40px;
}
