.container {
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 15px;
}

.wraper:nth-child(even) {
  background-color: #146bb3;
}

@media (max-width: 362px ) {
  .container {
    padding: 0;
  }

  .wraper{
    padding: 25px 17px;
  }
}