.intro{
    display: flex;
    padding: 70px 0 105px;
    background-color: #ffffff;
    font-family: "Inder", sans-serif;
}

.img{
    width: 300px;
    height: 300px;
    border-radius: 50%;
    margin-right: 105px;

}

.language,
.skils{
    background-color: #146BB3;   
    padding: 50px 0;
    color: #ffffff;
}

.head{
   font-family: "Manrope", sans-serif;
   font-weight: 700; 
   font-size: 32px;
   margin-bottom: 35px;
   text-transform: uppercase;
}

.text{
    font-family: "Inder", sans-serif;
    font-size: 16px;
    margin-bottom: 20px;
}
.text:last-child {
  margin-bottom: 0;
}

.education,
.experiance{
    background-color: #ffffff;   
    padding: 50px 0;
    color: #000000;
}

.head_{
   font-family: "Manrope", sans-serif;
   font-weight: 700; 
   font-size: 32px;
   margin-bottom: 35px;
   color: #1C2E6A;
   text-transform: uppercase;
}

.inner{
    display: flex;
    margin-right: 45px;
    font-size: 16px;
}

.inner:last-child {
  margin-right: 0;
}

.specialization{
    font-family: "Manrope", sans-serif;
    color: #1C2E6A;
    text-transform: uppercase;
    font-weight: 700; 
}

.date{
    margin-right: 65px;
}

.text_{
    font-family: "Inder", sans-serif;
    font-size: 16px;
    margin-bottom: 35px;
}
.text_:last-child {
  margin-bottom: 30px;
}

