.education {
  background-color: #ffffff;
  padding: 50px 0;
  color: #000000;
}

.head_ {
  font-family: 'Manrope', sans-serif;
  font-weight: 700;
  font-size: 32px;
  margin-bottom: 35px;
  color: #1c2e6a;
  text-transform: uppercase;
}

.innerContainer {
  display: flex;
  margin-right: 45px;
  font-size: 16px;
}

.inner {
  display: flex;
  margin-right: 45px;
}
/* .inner:last-child {
  margin-right: 0;
} */

.specialization {
  font-family: 'Manrope', sans-serif;
  color: #1c2e6a;
  text-transform: uppercase;
  font-weight: 700;
}

.date {
  margin-right: 65px;
}
@media (max-width: 362px ) {
  .innerContainer{
    flex-direction: column;
    margin-right: 0;
    gap: 15px;
    font-size: 14px;
  }
  .inner {
    margin-right: 0;
    gap: 50px;
  }
  .date {
    margin-right: 0;
  }
}

