.nameContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  margin-bottom: 40px;
  font-size: 24px;
}
.payBtn {
  display: flex;
  gap: 50px;
  margin-left: 50px;
}
.infoContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}
.costInfo {
  text-align: center;
}
.cost {
  color: var(--color-main);
  font-size: 20px;
  font-weight: 500;
}
.description {
  max-height: 68px;
}
.description:hover {
  max-height: inherit;
}
