.header {
  background-color: var(--color-main);
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 100px;
}
.content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: var(--margin-content);
}
.logo {
  width: 80px;
}
.text {
  font-family: var(--font-head);
  font-size: 32px;
  font-weight: 500;
  color: var(--color-white);
}
.nav {
  background-color: var(--color-white);
  padding: 5px 5px;
  border-radius: 35px;
  display: flex;
  gap: 40px;
}
.link {
  padding: 15px 30px;
  border-radius: 35px;
  color: var(--color-black);
  display: flex;
  align-items: center;
  gap: 10px;
}
.link:hover,
.logout:hover,
.link:hover * {
  background-color: var(--color-btn_hover);
  color: var(--color-white);
}
.logout {
  background-color: var(--color-logo);
  color: var(--color-white);
  padding: 15px 18px;
  border-radius: 35px;
}

@media screen and (max-width: 1280px) {
  .linkText {
    display: none;
  }
  .nav {
    gap: 10px;
  }
}
