.footer {
  background-color: var(--color-main);
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  height: 40px;
  flex: 0 0 auto;
}
.content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: var(--margin-content);
  color: var(--color-white);
}
