.common {
  color: var(--color-main);
  font-size: 30px !important;
}
.common:hover {
  cursor: pointer;
}
.addOrg {
  width: 45px !important;
  height: 45px !important;
}
.changeColor:hover {
  color: var(--color-btn_hover);
  fill: var(--color-main);
}
.addButton {
  padding: 0;
  border: 0;
  background: none;
}
.addContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

