.language {
  background-color: #146bb3;
  padding: 50px 0;
  color: #ffffff;
}

.head {
  font-family: 'Manrope', sans-serif;
  font-weight: 700;
  font-size: 32px;
  margin-bottom: 35px;
  text-transform: uppercase;
}

.img{
  border-radius: 8px;
  width: 35px;
  height: 35px;
  margin-right: 25px;
}

.inner{
  display: flex;
  align-items: center; 
  margin-bottom: 20px; 
  font-family: 'Inder', sans-serif;
  font-size: 16px;
  margin-bottom: 20px; 
}

.inner:last-child {
  margin-bottom: 0;
}

@media (max-width: 475px ) {
  .language {
    padding: 0 0;
  }

  .head {
    font-size: 20px;
    margin-bottom: 15px;
  }

  .inner{
    font-size: 14px;
    
  }
}