.certificates{
    background-color: #146BB3;   
    padding: 50px 0;
    color: #ffffff;
}

.head{
   font-family: "Manrope", sans-serif;
   font-weight: 700; 
   font-size: 32px;
   margin-bottom: 35px;
   text-transform: uppercase;
}

.inner{
   display: grid;
   grid-template-columns: repeat(2, 1fr); 
    gap: 20px;
   
}

.figura{
    margin: 0;
    display: flex;
    flex-direction: column;
     align-items: center;
}

.figura:nth-child(odd) {
  align-items: flex-start;  /* левый столбец */
}

.figura:nth-child(even) {
  align-items: flex-end;  /* правый столбец */
}

.img {
  width: auto;
  max-width: 620px;
}

.text{
    text-align: center;
    text-transform: uppercase;
    font-family: "Manrope", sans-serif;
    font-size: 16px;
    margin: 20px 0 20px 0;
    width: 100%;
}

