.container{
  display: flex;
}

.nav{
  display: flex;
  flex-direction: column;
  width: 20%;
  text-align: left;
}

.srvNav{
  display: flex;
  flex-direction: column;
  padding-left: 20px;
}

.link{
  text-transform: capitalize;
}