p {
  margin: 2px 0 2px 0;
}
.page {
  width: 210mm;
  height: 297mm;
  font-family: 'Times New Roman', Times, serif;
  font-size: 20px;
  line-height: 20px;
}
.datePlace {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 18px 0;
}
.main {
  text-align: justify;
  text-indent: 40px;
}
.mainInfo {
  text-indent: 0;
}
.sidesInfo {
  display: flex;
  margin: 70px 0;
  text-align: left;
  gap: 65px;
}
.sidesInfo_sign {
  margin-top: 30px;
}
.signs {
  text-align: left;
}
.position {
  margin: 30px 0;
}
.sign {
  margin-left: 20px;
}
.variable{
  color: darkturquoise;
}
@media print {
  .variable {
    color: black;
  }
}
